* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

body{
    height: 100%;
    height: 100vh;
    background-color: #000;
}

header {
    color: #05F140;
    padding: 16rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* header animation */
header h1 {
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 5em;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 3.5s steps(28) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 9em;
    }
}

@keyframes blinkCursor {
    form {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.cipher-icon {
    color: #BF1363;
    font-size: 4rem;
}

section h2 {
    font-weight: 500;
}

main{
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-bottom: 100px;
    font-size: 20px
}

.box-window{
    width: 70%;
    height: 40rem;
    color: #05F140;
    padding: 2rem;
    border-radius: 1.6rem;
    border: 0.2rem solid #05F140;
}

#barra-left{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
}

.box-window input{
    background-color: #05F140;
    border: none;
    color: #000;
    padding: 0.6rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.4rem;
}

::placeholder {
    color: #1c8a37f6;
}

.box-window label {
    color: #05F140;
    text-decoration: none;
    font-size: 2rem;
}

body main form h3 {
    color: #BF1363;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #BF1363;
    color: #e6fafc;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body section {
    background-color: #000;
    color: #05F140;
    font-family: 'Inconsolata', monospace;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body main form input {
    background-color: #05F140;
    border: none;
    color: #000;
    padding: 3px 3px;
    font-family: 'Inconsolata', monospace;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    font-weight: bold;
}

#lab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    background-color: #000;
    color: #05F140;
}

